<p>Hi <%= @award.user.first_name %>,</p>

<p>Amazing! You've just voted for <%= @award.meal.name %> as your best <%= @award.meal.category.name %> in town. Other users will now be able to see your vote and the review you left.</p>

<p>We hope you enjoy kecomo. If you do so, don't forget to share our app with your all the foodies you know.</p>

<p>Cheers,</p>
<p>The kecomo team</p>
