<p>Hi <%= @user.first_name %>,</p>

<p>Welcome to kecomo! We are very excited to have a new foodie onboard! You can now look for the best voted dishes in your town and start voting for your own favourites!  </p>
<p>Remember to choose wisely what dish you vote for. You can only vote for one dish in each category.</p>

<p>We hope you'll enjoy kecomo. If you do so, don't forget to share our app with your all the foodies you know.</p>

<p>Cheers,</p>
<p>The kecomo team</p>
