.choose-details-blank h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 345px;
    height: 45px;
    left: 26px;
    top: 74px;
    background: #32DBC6;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 25px;
}

.choose-details h4 {
  color: white;
  background-color: #440063;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 11px;
  width: 325px;
  height: auto;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.row-award {
  font-family: Montserrat;
  width: 325px;
  height: 65px;
  text-align: center;
  background: #13af9b;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.row-vote {
  font-family: Montserrat;
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row-vote h3 {
  color: white;
  margin: 0px;
  font-size: 19px;
}

.row-vote h2 {
  margin: 0px;
  color: white;
  font-weight: lighter;
}

.row-award h1 {
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 18px;
}

.choose-details h2 {
  font-size: 18px;
  text-align: center;
}

.button-award {
  text-align: center;
}

.modal {
.btn-info {
    color: white;
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:hover {
    color: white;
    background-color: #6b006b;
    border-color: #6b006b;
  }

  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  .btn-info.disabled, .btn-info:disabled {
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:active, .btn-info.active,
  .show > .btn-info.dropdown-toggle {
    background-color: #6b006b;
    background-image: none;
    border-color: #6b006b;
  }

  label {
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  }
}
