.row-award-congrats {
  font-family: Montserrat;
  width: 345px;
  height: 550px;
  text-align: center;
  background: #32DBC6;
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-right: 05px;

}

.row-award-congrats h1 {
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  padding-top: 20px;
  color: #FFFFFF;
  font-size: 22px;
  padding-left: 05px;
  padding-right: 05px;
}


.fireworks-img {
  width: 300px;
  height: 340px;
  margin-left: 12px;
  padding-top: 30px;

}

.button {
  margin-top: 30px;
}

.main-button-congrats {
  color: white;
  font-weight: 200;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFB228;
  margin-top: 40px;
  font-weight: bolder;
}

.button-home {
  margin-top: 20px;
}

.link {
  color: white;
  padding-top: 20px;
}
