.row-award-congrats {
  font-family: Montserrat;
  width: 345px;
  height: 550px;
  text-align: center;
  background: #32DBC6;
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-right: 5px;
}

.row-award-congrats h1 {
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  padding-top: 15px;
  color: #FFFFFF;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.fireworks-img {
  width: 350px;
  height: 380px;
  padding-top: 30px;
}

.button {
  margin-top: 30px;
}

.main-button-congrats {
  color: white;
  font-weight: bolder;
  padding: 8px 25px;
  border-radius: 4px;
  background: #FFB228;
  font-weight: bolder;
  margin-left: 100px;
}

.button-home {
  margin-top: 20px;
}

.link {
  color: white;
  padding-top: 20px;
}
