.choose-details-blank h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 345px;
    height: 45px;
    left: 26px;
    top: 74px;
    background: #32DBC6;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 25px;
}




.row-award {
  font-family: Montserrat;
  width: 345px;
  height: 75px;
  text-align: center;
  background: #32DBC6;
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 35px;
}

.row-award h1 {
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 18px;
}

.choose-details h2 {
  margin: 0px 0px 0px 0px;
  margin-top: 30px;
  padding-bottom: 15px;
  font-size: 22px;
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 25px;
}

.button-award {
  text-align: center;
}
