.log-in {
  color: #167FFB;
  text-decoration: none;
  background-color: transparent;
  padding-left: 0px;
}


.signin-form-wrapper h2 {
  margin-top: 75px;
  font-size: 35px;
  text-align: center;
}

