// Specific CSS for your home-page
body {
  background-color: transparent;
}

.banner {
  width: 100vw;
  height: 70vh;
  position: relative;
}

@media only screen and (min-width: 540px) {
  .banner {
    background-image: url("banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 539px) {
  .banner {
    background-image: url("banner-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #440063;
}

@media only screen and (min-width: 845px) {
  h3 {
    font-size: 25px;
    font-weight: bolder;
    color: #440063;
    margin: 20px 20px 10px 20px;
  }
}

@media only screen and (max-width: 844px) {
  h3 {
    font-size: 20px;
    font-weight: bolder;
    color: #440063;
    margin: 20px 20px 10px 20px;
  }
}

/*
#13af9b
#FB3569 */

@media only screen and (min-width: 845px) {
  .banner-content {
    width: 700px;
    height: auto;
    position: absolute;
    bottom: 45px;
    right: 100px;
    display: center;
  }

  .banner-content h2 {
    font-size: 50px;
    text-align: left;
  }

  #search-bar {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 844px) {
  .banner-content {
    width: 80%;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    position: absolute;
    bottom: 135px;
  }

  .banner-content h2 {
    font-size: 38px;
    text-align: left;
  }

  #search-bar {
    margin-top: 30px;
  }
}

.banner .banner-content .new-search #search-bar .form {
  display: flex !important;
}


/////

.navbar-wagon-right-offline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  list-style: none;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

