// Specific CSS for your home-page

.banner {
  position: relative;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #440063;
}

h3 {
  font-size: 30px;
  font-weight: bolder;
  color: #440063;
  margin: 40px 80px;
}

.triangle-top-left {
  width: 0px;
  height: 0px;
  border-right: 210px solid transparent;
  border-top: 210px solid #00ccbc;
  border-left: 210px solid #00ccbc;
  border-bottom: 210px solid transparent;
  position: absolute;
  left: 0%;
  right: 35.33%;
  top: 0%;
  bottom: 0%;
}

.rectangle {
  width: auto;
  height: 75vh;
  background: #FB3569;
}

.rectangle .kecomo-logo img {
  height:40px;
  width:110px;
  color: white;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 450px;
}

.rectangle h2 {
  position: absolute;
  z-index: 2;
  bottom: 120px;
  right: 120px;
}

.rectangle .search-bar {
  position: absolute;
  bottom: 50px;
  right: 300px;
}

.rectangle .avatar-large {
  position: absolute;
  top: 25px;
  right: 25px;
}
