// Specific CSS for your home-page

.banner {
  position: relative;
}

.triangle-top-left {
  width: 0px;
  height: 0px;
  border-right: 210px solid transparent;
  border-top: 210px solid #48d6d6;
  border-left: 210px solid #48d6d6;
  border-bottom: 210px solid transparent;
  position: absolute;
  left: 0%;
  right: 35.33%;
  top: 0%;
  bottom: 0%;
}

.rectangle {
  width: auto;
  height: 70vh;
  background: #FB3569;
}

.rectangle h1 {
  font-size: 25px;
  color: white;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 500px;
}

.rectangle h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #440063;
  position: absolute;
  z-index: 2;
  bottom: 120px;
  right: 120px;
}
