.meal-page-img {
  height: 300px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.meal-page-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  h2 {
    margin: 0;
    color: black;
  }
}

.meal-page-tags {
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
}

.meal-page-tags a {
  text-decoration: none;
  color: #212529;
}

.meal-page-tags a:hover {
  text-decoration: none;
  color: #212529;
  opacity: 0.8;
}

.page-meal-restaurant-tag {
  color: #212529;
  border: 1px solid #212529;
  padding: 4px 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  margin-right: 5px;
}

.page-meal-category-tag {
  color: #212529;
  border: 1px solid #212529;
  padding: 4px 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.page-meal-restaurant-tag a {
  color: #212529;
  text-decoration: none;
}

.page-meal-restaurant-tag a:hover {
  color: #212529;
  opacity: 0.8;
  text-decoration: none;
}

.page-meal-category-tag a {
  color: #212529;
  text-decoration: none;
}

.page-meal-category-tag a:hover {
  color: #212529;
  opacity: 0.8;
  text-decoration: none;
}

#meal-show-vote {
  padding-bottom: 60px;
}

.meal-page-reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border-bottom: 1px solid #212529;;
  position: relative;
}

.meal-page-reviews .meal-page-reviews-content {
  flex-grow: 1;
  padding: 0 24px;
}

.meal-page-reviews p {
  margin-bottom: 5px;
  font-weight: bolder;
}

.meal-page-reviews .meal-page-reviews-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
  position: absolute;
  top: 2px;
  right: 5px;
}

.meal-page-reviews-date {
  position: absolute;
  bottom: 2px;
  right: 5px;
  p {
    font-size: 12px;
    margin: 0;
    font-style: italic;
    color: #212529;
    opacity: 0.9;
  }
}

.meal-page-reviews:hover .meal-page-reviews-actions {
  opacity: 1;
}

.meal-page-reviews .meal-page-reviews-actions a {
  color: black;
  margin-left: 10px;
  font-size: 8px;
}

.meal-page-reviews .meal-page-reviews-actions a:hover {
  color: #555555;
}

// MEALS - EDIT PAGE SCSS STARTS BELOW
.details-create-form h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #440063;
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-color: #440063;
  padding-bottom: 20px;
  margin: 25px 0px;
}

.details-create-form label {
  color: #212529;
  opacity: 0.8;
  font-size: 15px;
}

.button-action {
  .btn-info {
    color: white;
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:hover {
    color: white;
    background-color: #6b006b;
    border-color: #6b006b;
  }

  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  .btn-info.disabled, .btn-info:disabled {
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:active, .btn-info.active,
  .show > .btn-info.dropdown-toggle {
    background-color: #6b006b;
    background-image: none;
    border-color: #6b006b;
  }
}
