.meal-page-img {
  height: 300px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.meal-page-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  h2 {
    margin: 0;
    color: black;
  }
}

.meal-page-tags {
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
}

.meal-page-tags a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.meal-page-tags a:hover {
  text-decoration: none;
  color: black;
  opacity: 1;
}

.page-meal-restaurant-tag {
  color: black;
  border: 1px solid black;
  padding: 4px 15px;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  margin-right: 5px;
}

.page-meal-category-tag {
  color: black;
  border: 1px solid black;
  padding: 4px 15px;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.page-meal-category-tag a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
}

.page-meal-restaurant-tag a:hover {
  color: black;
  opacity: 1;
  text-decoration: none;
}

.page-meal-category-tag a:hover {
  color: #FB3569;
  opacity: 1;
  text-decoration: none;
}

#meal-show-vote {
  padding-bottom: 60px;
}

.meal-page-reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border-bottom: 1px solid #212529;;
  position: relative;
}

.meal-page-reviews .meal-page-reviews-content {
  flex-grow: 1;
  padding: 0 24px;
}

.meal-page-reviews p {
  margin-bottom: 5px;
  font-weight: bolder;
}

.meal-page-reviews .meal-page-reviews-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
  position: absolute;
  top: 2px;
  right: 5px;
}

.meal-page-reviews-date {
  position: absolute;
  bottom: 2px;
  right: 5px;
  p {
    font-size: 12px;
    margin: 0;
    font-style: italic;
    color: gray;
  }
}

.meal-page-reviews:hover .meal-page-reviews-actions {
  opacity: 1;
}

.meal-page-reviews .meal-page-reviews-actions a {
  color: black;
  margin-left: 10px;
  font-size: 8px;
}

.meal-page-reviews .meal-page-reviews-actions a:hover {
  color: #555555;
}

// MEALS - EDIT PAGE SCSS STARTS BELOW
.choose-details-blank-create-form h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #440063;
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-color: #440063;
  padding-bottom: 20px;
}

.button-award-create-page {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
  font-style: bolder;
}

.first-question {
  margin-top: 20px;
}
