#color-edit-change {
  color: rgba(119, 209, 97, 0.87);
}

#color-edit-delete {
  color: rgba(252, 8, 8, 0.87);
  margin-right: 10px;
  .fa-trash-alt {
    font-size: 18px;
  }
}

.profile-user {
  height: 175px;
  border-bottom: 3px solid #212529;
  text-align: center;
}

.profile-user h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #212529;
}

.profile-user img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.profile-header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #212529;
}

.profile-change-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-left: 60px;
}

.award-first-part {
  padding:8px;
}

.card-meal-category-button-new {
  align-items: center;
}

.profile-header-2 {
  margin-top: 20px;
  border-top-style: solid;
}

.profile-header-2 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  padding-top: 10px;
  color: #212529;
}
