#color-edit-change {
  color: rgba(119, 209, 97, 0.87);
}

#color-edit-delete {
  color: rgba(252, 8, 8, 0.87);
}

.profile-user {
  height: 175px;
  border-bottom-style: solid;
  text-align: center;
}

.profile-user h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #000000;
}

.profile-user img {
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;

  color: #000000;
}

.profile-change-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.award-first-part {
  padding:8px;
}

.card-meal-category-button-new {
  // padding: 10px !important;
  align-items: center;
}
