.card-meal-vote-img-profile {
  height: 75px !important;
  width: 75px !important;
  margin: 0px;
  padding:0px;
}

.meal-page-reviews-content-profile{
  padding: 0 18px;
}

.profile-info {
  position: relative;
}

.profile-gear {
  font-size: 23px !important;
  position: absolute;
  top: 10px;
  right: 10px;
  font-color: #440063 !important;
}

.profile-gear a{
  color: #440063 !important;
  text-decoration: none;
}

.profile-gear a:visited a:hover {
  text-decoration: none;
  color: #440063 !important;
}

.user-name-profile {
  position: absolute;
  top: 31px;
}

.profile-info{
  height: 30vh;
  width: 100vw;
}

.award-delete-icon i{
  font-size: 19px;
}

.award-edit-icon i{
  font-size: 19px;
}
