.card-meal-infos-meal-page {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 26px;
}


.card-meal-restaurant-button-show-page {
  display: flex;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.card-meal-button-wrapper-show-page {
  display: flex;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: 8px;
}

.card-meal-button-wrapper-show-page p {
  text-align: center;
}


.card-meal-category-button-show-page {
  color: #FB3569;
  border: 1px solid #FB3569;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 30px;
  margin-right: 40px;
  padding: 14px 16px;
  // border: 1px solid rgb(235,235,235);
  border: 1px solid rgba(0, 0, 0, 0.49);
}

.reviews .reviews-content {
  flex-grow: 1;
  padding: 0 24px;
}

.reviews p {
  margin: 0;
  line-height: 1.4;
  font-style: Montserrat;
}

.reviews small {
  color: #999999;
  font-weight: bold;
  font-style: Montserrat;
}

.reviews .reviews-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;

}

.reviews:hover .reviews-actions {
  opacity: 1;
}

.reviews .reviews-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.reviews .reviews-actions a:hover {
  color: #555555;
}



@media only screen and (max-width: 600px) {


.card-meal-infos-meal-page {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 26px;
}


.card-meal-restaurant-button-show-page {
  display: flex;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.card-meal-button-wrapper-show-page {
  display: flex;
  padding-left: 30px;
  padding-bottom: 30px;

}

.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 30px;
  margin-right: -289px;
  padding: 14px 16px;
  // border: 1px solid rgb(235,235,235);
  border: 1px solid rgba(0, 0, 0, 0.49);
}

.reviews .reviews-content {
  flex-grow: 1;
  padding: 0 24px;
}

.reviews p {
  margin: 0;
  line-height: 1.4;
  font-style: Montserrat;
}

.reviews small {
  color: #999999;
  font-weight: bold;
  font-style: Montserrat;
}

.reviews .reviews-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;

}

.reviews:hover .reviews-actions {
  opacity: 1;
}

.reviews .reviews-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.reviews .reviews-actions a:hover {
  color: #555555;
}

}
