<div class="container">
  <div class="signin-form-wrapper">
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <h2>Forgot your password?</h2>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: 'user@kecomo.com' %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me reset instructions, please!", class: "btn btn-info" %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
