<div class="filter-bar">

  <div class="filter-bar-tags">

    <div class="filter-bar-tags-cities">
      <div class="result">
        <i class="fas fa-map-pin"></i>
        Barcelona
      </div>
    </div>

    <div class="filter-bar-tags-cities">
      <%= form_tag all_meals_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search Category", class: "form-control", id: 'searchbar' %>
     <% end %>
    </div>

  </div>

  <div class="filter-bar-map">
     <i class="far fa-map fa-2x"></i> </p>

  </div>

</div>
