<div class="filter-bar">
  <div class="filter-bar-tags">
    <div class="filter-bar-tag">
      <div>
        <i class="fas fa-map-pin"></i>
        <%= "meals first restaurant city" %>
      </div>
    </div>
    <div class="filter-bar-tag">
      <p> <%= "category name" %> </p>
    </div>
  </div>
  <div class="filter-bar-map">
     <%= "link_to map_pages_path(@meals_located), class: map-icon "%>
  </div>
</div>
