<div class="navbar-wagon">
  <!-- Logo, link to home at topleft-->
  <%= link_to image_tag("kecomo-logo.png"), root_path, class: "kecomo-logo-navbar" %>
  <div class="triangle-navbar-top-left">
  </div>

  <div class="navbar-wagon-item">

     <!-- navbar, when user not signed in yet
    <div class="navbar-wagon-right">
      <a href="" class="navbar-wagon-item navbar-wagon-link">Login</a>
      <a href="" class="navbar-wagon-item navbar-wagon-link">Sign Up</a>
    </div> -->

    <!-- Navbar with user avatar at topright-->
    <div class="dropdown">
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar-large dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Vote!</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>

  </div>
</div>
