<div action="" id="search-bar" class="form-inline">
  <%= form_tag all_meals_url, method: :get do %>
    <%= text_field_tag :searchquery, params[:searchquery], size: 20, placeholder: "Try 'Pizza Market' or 'Pizza'", class: "form-control", id: 'searchbar' %>
  <% end %>
    <button type="submit" name="commit" value="search" class="btn btn-info btn-fill">GO!</button>
</div>

<!-- the autocomplete suggestions results dropdown -->
<div id="autocomplete_results">
  <ul id="results">
  </ul>
</div>

<!-- Change to size: 50 when desktop -->
