<div class="search-bar form-inline" role="form">
  <%#= form_tag meals_path, method: :get do %>
  <%#= text_field_tag :query,
  params[:query],
  divclass: "form-control" %>
  <div class="form-control" placeholder="Try 'Burger' or 'Bacoa'"></div>
  <%#= placeholder: "Try 'Burger' or 'Bacoa'" %>
   <button type="submit" name="commit" value="Search" class="btn btn-info btn-fill">GO!</button>
  <%# end %>
 </div>
