<form action="" class="search-bar form-inline">
  <%#= form_tag meals_path, method: :get do %>
  <%#= text_field_tag :query,
  params[:query],
  divclass: "form-control" %>
  <input type="text" class="form-control" size="50" placeholder="Try 'burger' or 'bacoa'">
  <%#= placeholder: "Try 'Burger' or 'Bacoa'" %>
  <button type="submit" name="commit" value="search" class="btn btn-info btn-fill">GO!</button>
  <%# end %>
</form>
