<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= form_tag meals_path_url, method: :get do %>
  <%= text_field_tag 'query', params[:query], placeholder: "Enter a category or meal's name" %>
  <%= submit_tag 'Search!' %>
<% end %>
