
<div class="banner">
  <div class="triangle-top-left">

  </div>
  <div class="rectangle">
    <h1>kecomo</h1>
    <h2>Looking for the best voted food in town?</h2>
    <%= render 'shared/search_bar' %>
  </div>
</div>
