<div class="banner">
  <div class="banner-content">
    <h2>Looking for the best voted</h2>
    <h2>food on the menu?</h2>
    <%= render 'shared/search-bar' %>
  </div>
</div>

<div class="container">
<h3>Discover the best food in town</h3>
  <div class="container-categories">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-4 col-md-3">
          <div class="card">
            <div class="card-img">
              <%= link_to (image_tag (category.icon)), category_meals_path(category.id) %>
            </div>
            <div class="card-txt">
              <h5><strong><%= category.name %></strong></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
