
<p style="font-weight: bolder;"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
<p><strong>- <%= restaurant.awards.count %> VOTED MEALS -</strong></p>
<p><%= restaurant.address %></p>
