<%= render "shared/navbar" %>
<%= render "shared/filter-bar" %>

<% unless @meals == nil %>
  <div class="container">
    <%= link_to (image_tag "add.png"), root_path, class: "sticky-btn" %>
    <%= render 'shared/meal-card' %>
  </div>
<% end %>

<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
