<p>Hi <%= @user.first_name %>,</p>

<p>Congratulations! You've just created the meal <%= @meal.name %> at <%= @meal.restaurant %> on kecomo. Other users can now start voting for this meal.</p>

<p>We hope you enjoy kecomo. If you do so, don't forget to share our app with your all the foodies you know.</p>

<p>Cheers,</p>
<p>The kecomo team</p>
