.card-grid {
  margin: 0px 150px;
}

.card-grid .cards .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grid .cards .card {
  margin-bottom: 25px;
  width: auto;
  height: 200px;
  position: relative;
  background-color: #fffde1;
  border: none;
}

.card .card-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 125px;
}

.card-img img:hover {
  width: 140px;
  height: 140px;
}

.card .card-txt h5 {
  font-size: 17px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #440063;
}
