@media only screen and (max-width: 539px) {
  .card {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fffde1;
    border: none;
  }

  .card-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }

  .card-img img:hover {
    width: 55px;
    height: 55px;
  }

  .card .card-txt h5 {
  font-size: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #440063;
  }
}

@media only screen and (min-width: 540px) {
  .card {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fffde1;
    border: none;
    margin-bottom: 20px;
  }

  .card-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }

  .card-img img:hover {
    width: 110px;
    height: 110px;
  }

  .card .card-txt h5 {
    font-size: 14px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -4px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #440063;
  }
}

.card .card-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
