.footer {
  background: #FB3569;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  font-size: 12px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-copyright a {
  text-decoration: none;
  color: white;
}

.footer-copyright a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.35;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 7px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
