.footer {
  background: #FB3569;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  font-size: 14px;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.35;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
