.main-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #440063;
  transition: background 0.3s ease;
}
.main-button:hover {
  background: #440063;
  color: white;
  opacity: 0.7;
}
