.card-meal {
  height: 12vh;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-width: 0.5px;
  padding-bottom: 20px;
}

.card-meal img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-meal h2 {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-meal p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-meal a {
  text-decoration: none;
  color: black;
}
/*
.card-meal h2 a {
  color: black;
}

.card-meal h2 p {
  color: #FB3569;
}
 */
.card-meal .card-meal-infos {
  padding: 10px;
}

.card-meal-voting {
  padding: 10px;
  display: flex;
  align-items: center;

}

.card-meal-button-wrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.card-meal-rank {
  position: absolute;
  left: -6px;
  top: -6px;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  background: #fb3569;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.6em;;
  font-weight: bold
}

.card-meal-rank-1 {
  position: absolute;
  left: -6px;
  top: -6px;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  background: #C9B037;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.6em;;
  font-weight: bold
}

.card-meal-rank-2 {
  position: absolute;
  left: -6px;
  top: -6px;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  background: #B4B4B4;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.6em;;
  font-weight: bold
}

.card-meal-rank-3 {
  position: absolute;
  left: -6px;
  top: -6px;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  background: #cc6633;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.6em;;
  font-weight: bold
}

.card-meal-vote-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60px;
  width: 60px;
  padding: 2px;
  border-radius: 3px;
  // box-shadow: 0px 0px 15px 0px rgba(8,203,187,1);
  // box-shadow: 0px 0px 15px 8px rgba(8,203,187,1);\
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  p {
    font-size: 0.6em !important;
    margin: 0 !important;
    font-weight: bolder;
  }
}

.card-meal-vote-img {
  height: 40px !important;
  width: 40px !important;
}

.card-meal-restaurant-button {
  color: black;
  border: 1px solid black;
  padding: 4px 6px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-align: center;
  font-weight: bold;
}


.card-meal-category-button {
  color: #FB3569;
  border: 1px solid #FB3569;
  padding: 4px 8px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-align: center;
  font-weight: bold;
}

.card-meal-category-button a {
  color: #FB3569;
}

.card-meal-category-button:hover {
  opacity: 1;
}

.modal-dialog {
  width: 96vw;
}

.modal-body {
  background-color: #32DBC6;
}

.modal-header {
  background-color: #32DBC6;
  color: white;
  text-align: center;
  font-size: 18px;
}
