/* Main navbar */
@media only screen and (max-width: 600px) {
  .navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: image-url("navbar-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 600px) {
  .navbar-wagon {
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: image-url("navbar-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.nav-left-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-left-icons .fa-angle-left {
  font-size: 30px;
  color: white;
}

.nav-left-icons .fa-home {
    font-size: 23px;
    color: white;
  }

@media only screen and (max-width: 600px) {
  .nav-left-icons .fa-home {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-left-icons .fa-home {
    margin-left: 45px;
  }
}

.nav-left-icons .fas:hover {
  text-decoration: none;
  opacity: 0.8;
}

.navbar-wagon-transparent {
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.navbar-wagon-transparent .kecomo-logo img {
  margin-top: 10px;
  height: 60px;
  width: auto;
  color: white;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar-wagon-transparent .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: inherit;
  }
  p {
    margin-bottom: 0px;
    margin-right: 5px;
    color: white;
    padding: 4px 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    :hover {
      opacity: 1;
      color: white;
      text-decoration: none;
    }
  }
}

.navbar-wagon-right-offline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: inherit;
  }
  p {
    margin-bottom: 0;
    margin-right: 0px;
    color: white;
    border: 1px solid white;
    padding: 4px 15px;
    border-radius: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    :hover {
      opacity: 1;
    }
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
