#search-bar {
  @media only screen and (max-width: 365px) and (max-height: 570px) {
    input {
      width: 200px;
    }
  }

  @media only screen and (max-width: 844px) and (min-height: 571px) {
    input {
      width: 250px;
    }
  }

  @media only screen and (min-width: 845px) {
    input {
      width: 350px;
    }
  }

  // Overriding bootstrap 'info' button
  .btn-info {
    color: white;
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:hover {
    color: white;
    background-color: #6b006b;
    border-color: #6b006b;
  }

  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  .btn-info.disabled, .btn-info:disabled {
    background-color: #440063;
    border-color: #440063;
  }

  .btn-info:active, .btn-info.active,
  .show > .btn-info.dropdown-toggle {
    background-color: #6b006b;
    background-image: none;
    border-color: #6b006b;
  }
}
