.tabs-underlined {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 30px;
  }

  .tabs-underlined .tab-underlined {
    padding: 8px 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .tab-underlined:hover {
    opacity: 1;
    color: white;
    border-bottom: 3px solid white;
  }
