.vote-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    font-size: 0.6em !important;
    margin: 0 !important;
  }
}

.vote-img {
  height: 40px !important;
  width: 40px !important;
}

