
.vote-btn {
  background-color: transparent;
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 3;
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.7);
}

.vote-btn img {
  height: 90px;
  width: 90px;
  opacity: 0.8;
}

.vote-btn img:hover {
  opacity: 1;
  height: 130px;
  width: 130px;
}

/*
// THIS GOES IN THE .HTML FILE
<%= link_to (image_tag "gold-medal.png"), root_path, class: "vote-btn" %>
 */
