
.vote-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 3;
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.7);
}

.vote-btn img {
  height: 90px;
  width: 90px;
}
